:root{
  --root-color1 :rgb(254, 34, 26);
  --root-color2 :rgb(0, 93, 177);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.eti-err {
  color: red;
}

.mark_wrong {
  border-color: red;
}

.mark_wrong:focus {
  /* background-color: red; */
  border-color: red !important;
  outline: none;
  box-shadow: 0 1px 1px red inset, 0 0 8px red;
}